

<form asp-area="admin" asp-controller="login" asp-action="process" method="post">

    <input type="text" name="username" />

    <input type="password" name="password" />

    <input type="submit" value="sign up " />

</form>