.hotline-content {
    display: none;
    position: absolute;
    left: 0;
    width: 195px;
    /* z-index: 99999; */
    padding: 7px 0 0;
    text-align: center;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

}

.hotline-content:before {
    content: "";
    display: block;
    position: absolute;
    left: 11px;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.hotline-content p span {
    color: #3a3a3c;
    font-size: 16px;
}

.hotline-content a {
    color: red;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bolder;
}

.hotline-header:hover .hotline-content {
    display: block;
    z-index: 11;
    margin-top: 0;
    overflow-x: hidden;
    visibility: visible;
}

.hotline-content p {
    background-color: #fff;
    display: block;
    padding: 10px 0;
    text-align: left;
    padding-left: 15px;
    line-height: 24px;
    border-bottom: 1px solid #f0f0f0;
}

    .hotline-content p:nth-child(2) {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

.if-banner-top {
    text-align: center;
    background: #fff;
}


