
@{
    ViewData["Title"] = "Thanks";
    Layout = null;
}

<div id=":r3" class="a3s aiL ">
    <div class="adM">
    </div><div>
        <div class="adM">
        </div><div style="color:#000">
            <div class="adM">
            </div><p>Xin chào LE TU TUAN,</p>
            <p>Cảm ơn Quý khách đã đăng kí tài khoản <strong><span class="il">fitness</span> ktx A uit</strong>!</p>
            <p>Đăng kí tài khoản thành công, chúng tôi sẽ nhanh chóng liên hệ với Quý khách.</p>
            <div>
                <div style="font-size:18px;padding-top:10px"><strong>Thông tin Khách hàng</strong></div>
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td style="border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;padding:5px 10px">
                                <table style="width:100%">
                                    <tbody>
                                        <tr>
                                            <td>Họ tên:</td>
                                            <td>LE TU TUAN</td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td><a href="mailto:18521598@gm.uit.edu.vn" target="_blank">18521598@gm.uit.edu.vn</a></td>
                                        </tr>
                                        <tr>
                                            <td>Điện thoại:</td>
                                            <td>0396694769</td>
                                        </tr>
                                        <tr>
                                            <td>Địa chỉ:</td>
                                            <td>
                                                5F Lac Long Quan, Huyện Cờ Đỏ, Thành phố Cần Thơ
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p><strong>Hình thức thanh toán: </strong>Thanh toán khi giao hàng (COD)</p><div class="yj6qo"></div><div class="adL">
            </div>
        </div>
    </div>
</div>