
@{
    ViewData["Title"] = "Thanks";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body style="margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;">
    <table border="1" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td>
                <table align="center" border="1px #E3E3E3" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse">
                    <!-- Phần 1 -->
                    <tr style="border-bottom: 10px goldenrod;">
                        <!-- bgcolor="#FBAE40" -->
                        <td align="center" style="padding: 5px 0 5px 0;">
                            <img style="height: 30px;" src="https://file.hstatic.net/1000185761/file/ifitness-logo-slogan_c72a0beccf5744e1a2277135bb6584dc.svg" alt="Creating Email Magic" width="300" height="230" style="display: block;" />
                        </td>
                    </tr>
                    <!-- Phần 2 -->
                    <tr style="border-bottom: 10px goldenrod; font-size: 9pt; ">
                        <td bgcolor="#F7F7F7">
                            <!-- 2.1 -->
                            <table style=" display:table; width:100%; border-collapse: collapse; ">
                                <tr style="color: white;">
                                    <td bgcolor="#FF9933 ">
                                        <p align="center ">THÔNG BÁO XÁC NHẬN ĐƠN HÀNG</p>
                                    </td>
                                    <td bgcolor="#333333 " style="padding: 5px 10px 5px 0; ">
                                        <p align="center ">MÃ ĐƠN HÀNG <br> <small>#12346</small></p>
                                    </td>
                                </tr>
                            </table>

                            <div style="padding: 40px 30px 20px 30px;">
                                <div align="center">
                                    <img width="153px " src="https://www.iconsdb.com/icons/preview/orange/delivery-xxl.png " alt=" ">
                                </div>

                                <div>
                                    <p>Cảm ơn <strong>Thục Quyên</strong> vì đã lựa chọn mua hàng tại iFitness.</p>
                                    <p>Đơn hàng của bạn đã được xử lý thành công và đang giao đến địa chỉ nhận hàng của bạn.</p>
                                    <p>
                                        Hiện chúng ta đang đối mặt với dịch N-Covid 19,iFitness khuyến khích bạn thường xuyên rửa tay, đeo khẩu trang, hạn chế đi lại ở chỗ đông người, tập các bài tập thể dục tại nhà, và bổ sung nguồn Vitamin đầy đủ, tăng
                                        sức đề kháng cho cơ thể trong mùa dịch. Tham khảo các sản phẩm Multi-Vitamin tại: https://ifitness.vn/collections/su-dung-hang-ngay
                                    </p>
                                    <p>Và dưới đây là đơn hàng chi tiết của bạn. iFitness hy vọng bạn sẽ hài lòng với trải nghiệm mua sắm và các sản phẩm đã chọn. Chúc bạn một ngày vui vẻ.</p>
                                </div>
                            </div>

                            <div style="padding: 5px 10px 5px 10px; ">
                                <div style="border: 2px solid #E3E3E3; border-radius: 5px; background-color: white; padding: 0px 10px 20px 20px; line-height: 30px;">
                                    <h2 style="color: #F7941E; ">Thông tin đơn hàng: #12346</h2>
                                    <table>
                                        <tr align="left">
                                            <th style="padding-right: 100px;"> Thời gian đặt hàng </th>
                                            <td> :27/12/2020 21:37:53 </td>
                                        </tr>
                                        <tr align="left">
                                            <th style="padding-right: 100px;"> Tên người nhận </th>
                                            <td> :Q </td>
                                        </tr>
                                        <tr align="left">
                                            <th style="padding-right: 100px;"> Điện thoại </th>
                                            <td> :000000000000 </td>
                                        </tr>
                                        <tr align="left">
                                            <th style="padding-right: 100px;"> Địa chỉ nhận hàng </th>
                                            <td> :Hồ Chí Minh ,Quận 2 , Vietnam3 </td>
                                        </tr>
                                        <tr align="left">
                                            <th style="padding-right: 100px;"> Hình thức thanh toán </th>
                                            <td> :Thanh toán khi giao hàng (COD)</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <!-- 2.2 -->
                            <div style="padding: 5px 10px 5px 10px; ">
                                <div style="border: 2px solid #E3E3E3; border-radius: 5px; background-color: white; padding: 0px 10px 20px 20px; line-height: 30px;">
                                    <h2 style="color: #F7941E; ">Đơn hàng chi tiết:</h2>
                                    <table style="display: table;  width:100%; background-color: #F7F7F7 ;">
                                        <tr style="background-color: black; color: white; ">
                                            <th> Hình ảnh </th>
                                            <th> Tên sản phẩm </th>
                                            <th> Số lượng </th>
                                            <th> Tổng cộng </th>
                                        </tr>
                                        <tr>
                                            <td><img src="" alt=""> </td>
                                            <td> Thuốc tăng cân </td>
                                            <td align="center"> 1 </td>
                                            <td align="right">19000<small>đ</small></td>
                                        </tr>
                                    </table>
                                    <table style="display: table;  width:100%; ">
                                        <tr>
                                            <th align=" left "> Tổng giá trị sản phẩm </th>
                                            <td align="right "> 1,900,000 VND </td>
                                        </tr>
                                        <tr>
                                            <th align="left "> Giảm giá khuyến mãi </th>
                                            <td align="right "> 0 VND </td>
                                        </tr>
                                        <tr>
                                            <th align="left "> Phí vận chuyển </th>
                                            <td align="right "> 0 VND</td>
                                        </tr>
                                        <tr style="background-color: #F7941E; color: white;">
                                            <th align="left "> Tổng số tiền phải thanh toán </th>
                                            <th align="right "> 1,900,000 VND</th>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- Phần 3 -->
                    <tr>
                        <td style="background-color:crimson; padding: 20px ">
                            <table border="0 " cellpadding="0 " cellspacing="0 " width="100% " style=" ">
                                <tr>
                                    <td width="75% " style="font-family:Arial, Helvetica, sans-serif; ">
                                        <p>
                                            CÔNG TY CỔ PHẦN FHB VIỆT NAM - IFITNESS.VN <br>
                                            <small>FITNESS FOR SUCCESS Trụ sở: KTX khu A Q. Thủ Đức, TP.HCM</small>
                                        </p>

                                    </td>
                                    <td>
                                        <div align="right " style="padding-right: 10px; ">
                                            <div style="display: inline-block ">
                                                <img src="https://ci6.googleusercontent.com/proxy/H6IgkwRG6-Pu8e8Ju8QBDtVsIK1anZNOop9IN6kwb-kexv1bwKIexkXihEyu99cS2lFZba0Cfspcqitn4JKgKXL7Vt4GgLxXEZWodKXMDcbAihs3Tvq8HY0Q6YGCzLU=s0-d-e1-ft#https://vcdn.tikicdn.com/desktop/img/account/email/social-facebook_white.png ">
                                            </div>
                                            <div style="display: inline-block ">
                                                <img src="https://ci5.googleusercontent.com/proxy/QH7Im-MVxmbEBnGnrGuwNHTh8qYqgxnmSQJ8HMMAn3B3OZE7hNLkwtJ5agtKNfEXOxrZNsPdKklJ6hqHUdACWLFczCdJC7X21DkYD9fT8iC95fhVQJjGIg=s0-d-e1-ft#https://vcdn.tikicdn.com/desktop/img/account/email/social-youtube.png ">
                                            </div>
                                            <div style="display: inline-block ">
                                                <img src="https://ci6.googleusercontent.com/proxy/FAnwZg2638UUTs0sFiuFmBXKhrph9dda5E3zizawuVTOJXCUpQYx3pivCZadQVti_Dv6ERyI4B5VK9x7W-Fz10TJpUrLZrXqqmmkOV9b-Ci34qXOQRLgQfMf0qcyWjHS=s0-d-e1-ft#https://vcdn.tikicdn.com/desktop/img/account/email/social-instagram_white.png ">
                                            </div>

                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </td>
            </td>
        </tr>
    </table>
    </td>

    </tr>
    </table>


    <!-- table.// -->
    </td>
    </tr>
    </table>


</body>

</html>