
@{
    ViewData["Title"] = "index";
    Layout = null;
}
<a href="/cart" title="giỏ hàng" rel="nofollow">
    <i class="fa fa-shopping-cart"></i>
    <span class="top-cart"> :</span>
    <span class="ajax_cart_no_product ajax_cart_quantity">0</span>
</a>
<div class="cart_content hidden-xs" id="view-cart">

    <div style="padding:0 20px;">
        <p style="margin:0" class="text-center">Giỏ hàng của bạn đang trống</p>
        <p class="text-center"><a href="https://ifitness.vn/">Tiếp tục mua hàng</a></p>
    </div>

</div>