
@{
    ViewData["Title"] = "detailProduct";
    Layout = "~/Views/Shared/_User_layout.cshtml";
}

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">

                <nav class="breadcrumb " role="navigation" aria-label="breadcrumbs">
                    <ol class="breadcrumb breadcrumb-arrows" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" target="_self" itemprop="item"><span itemprop="name">Trang chủ</span></a>
                            <meta itemprop="position" content="1">
                        </li>

                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <meta itemprop="item" content="https://ifitness.vn/collections/tang-co">
                            <a itemprop="item" href="https://ifitness.vn/collections/tang-co" target="_self"><span itemprop="name">Tăng Cơ</span></a>
                            <meta itemprop="position" content="2">
                        </li>

                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <meta itemprop="item" content="https://ifitness.vn/collections/whey-protein">
                            <a itemprop="item" href="https://ifitness.vn/collections/whey-protein" target="_self"><span itemprop="name">Whey Protein</span></a>
                            <meta itemprop="position" content="3">
                        </li>


                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <meta itemprop="item" content="https://ifitness.vn/products/sua-tang-co-giam-mo-applied-nutrition-iso-xp-2kg">
                            <span itemprop="name">Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg</span>
                            <meta itemprop="position" content="4">
                        </li>

                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <div class="wrapper-deatil" itemscope="" itemtype="http://schema.org/Product">
        <div class="container">
            <div class="row ">
                <div class="product-vendor visible-xs visible-sm applied-nutrition" itemprop="brand" itemscope="" itemtype="http://schema.org/Brand">
                    <b>
                        <a href="/collections/applied-nutrition">
                            <span style="background: #383838; color: #fff;font-size: 14px;margin-bottom: 3px;padding: 4px 10px;" itemprop="name">Applied Nutrition</span>
                        </a>
                    </b>
                </div>
                <div class="product-title visible-xs visible-sm">
                    <h1 itemprop="name">Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg</h1>
                    <div class="product-sku"><span>Mã sản phẩm: </span><span> SMAPP0714</span></div><div class="product-type"><b>Loại : <a title="Show type" href="/collections/types?q=bot">Bột</a></b></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 group-pd">
                    <div id="surround">

                        <div class="product-sale"><span><label class="sale-lb">Sale</label> 6%</span></div>



                        <div class="list_main slick-initialized slick-slider">

                            <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 1895px;"><div class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00" style="transition: opacity 500ms ease 0s; width: 379px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img class="product-image-feature" itemprop="image" src="//product.hstatic.net/1000185761/product/iso-xp-2kg-strawberry_2883aad6126d4314a6466c098382936b_master.jpg" alt="Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg"></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 379px; position: relative; left: -379px; top: 0px; z-index: 998; opacity: 0;"><img class="product-image-feature" itemprop="image" src="//product.hstatic.net/1000185761/product/iso-xp-2kg-strawberry_2883aad6126d4314a6466c098382936b_master.jpg" alt="Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg"></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 379px; position: relative; left: -758px; top: 0px; z-index: 998; opacity: 0;"><img class="product-image-feature" itemprop="image" src="//product.hstatic.net/1000185761/product/iso-xp-2kg-strawberry_2883aad6126d4314a6466c098382936b_master.jpg" alt="Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg"></div><div class="slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 379px; position: relative; left: -1137px; top: 0px; z-index: 999; opacity: 1;"><img class="product-image-feature" itemprop="image" src="//product.hstatic.net/1000185761/product/iso-xp-2kg-strawberry_2883aad6126d4314a6466c098382936b_master.jpg" alt="Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg"></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide04" style="transition: opacity 500ms ease 0s; width: 379px; position: relative; left: -1516px; top: 0px; z-index: 998; opacity: 0;"><img class="product-image-feature" itemprop="image" src="//product.hstatic.net/1000185761/product/iso-xp-2kg-strawberry_2883aad6126d4314a6466c098382936b_master.jpg" alt="Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg"></div></div></div>
                        </div>

                    </div>


                    <div id="sliderproduct" class="">
                        <div class="list_thumb slick-initialized slick-slider">
                            <button type="button" class="slick-prev slick-arrow" aria-disabled="false" style="display: block;"><i class="fa fa-angle-left"></i></button>

                            <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 475px; transform: translate3d(-95px, 0px, 0px);"><div class="product-thumb slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide10" style="width: 95px;"><a href="javascript:" data-image="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-cafe-latte_4082bbd3a705478191a0e69da78c07b9_master.jpg" data-zoom-image="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-cafe-latte_4082bbd3a705478191a0e69da78c07b9_master.jpg" tabindex="-1"><img alt="Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg" data-image="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-cafe-latte_4082bbd3a705478191a0e69da78c07b9_master.jpg" src="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-cafe-latte_4082bbd3a705478191a0e69da78c07b9_small.jpg"></a></div><div class="product-thumb slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 95px;"><a href="javascript:" data-image="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-mango-_-passion-fruit_30a5683340ba4f6b872b1cbf397d48d5_master.jpg" data-zoom-image="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-mango-_-passion-fruit_30a5683340ba4f6b872b1cbf397d48d5_master.jpg" tabindex="-1" class=""><img alt="Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg" data-image="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-mango-_-passion-fruit_30a5683340ba4f6b872b1cbf397d48d5_master.jpg" src="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-mango-_-passion-fruit_30a5683340ba4f6b872b1cbf397d48d5_small.jpg"></a></div><div class="product-thumb slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 95px;"><a href="javascript:" data-image="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-chocolate-dessert_56844d90b7904e9baaacd4efcb073178_master.jpg" data-zoom-image="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-chocolate-dessert_56844d90b7904e9baaacd4efcb073178_master.jpg" tabindex="-1" class=""><img alt="Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg" data-image="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-chocolate-dessert_56844d90b7904e9baaacd4efcb073178_master.jpg" src="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-chocolate-dessert_56844d90b7904e9baaacd4efcb073178_small.jpg"></a></div><div class="product-thumb slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide13" style="width: 95px;"><a href="javascript:" data-image="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-vanilla_9236e85519a141249fd80f93038f96a0_master.jpg" data-zoom-image="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-vanilla_9236e85519a141249fd80f93038f96a0_master.jpg" tabindex="0" class=""><img alt="Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg" data-image="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-vanilla_9236e85519a141249fd80f93038f96a0_master.jpg" src="//product.hstatic.net/1000185761/product/iso-xp-tub-2kg-vanilla_9236e85519a141249fd80f93038f96a0_small.jpg"></a></div><div class="product-thumb slick-slide slick-active" data-slick-index="4" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide14" style="width: 95px;"><a href="javascript:" data-image="//product.hstatic.net/1000185761/product/iso-xp-2kg-strawberry_2883aad6126d4314a6466c098382936b_master.jpg" data-zoom-image="//product.hstatic.net/1000185761/product/iso-xp-2kg-strawberry_2883aad6126d4314a6466c098382936b_master.jpg" tabindex="0" class="zoomGalleryActive"><img alt="Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg" data-image="//product.hstatic.net/1000185761/product/iso-xp-2kg-strawberry_2883aad6126d4314a6466c098382936b_master.jpg" src="//product.hstatic.net/1000185761/product/iso-xp-2kg-strawberry_2883aad6126d4314a6466c098382936b_small.jpg"></a></div></div></div>
                            <button type="button" class="slick-next slick-arrow slick-disabled" style="display: block;" aria-disabled="true"><i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>


                    <div id="buyxgety-program" class="promotion-block promotion-new-block mod-proddt animated giftchk-blk"><h3 class="down-ic" id="buyxgety-title"><span class="icon"><i class="ico-gift"></i></span><span class="ttl">CHỌN Quà tặng - Khuyến mãi</span><span class="updown"><i class="fa fa-chevron-up" aria-hidden="true"></i></span></h3><div class="item-gift" id="buyxgety-product-list" data-id="1017776437" data-title="Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg"><table><tbody><tr class="haravan-promotion"><td><input class="radio-product" data-countbuy="1" data-countgift="1" checked="" type="radio" data-id="1074041625" name="group-product-sale"></td><td class="width_min"><img class="buyx-img" src="https://product.hstatic.net/1000185761/product/binh-lac-applied-nutrition-400mljpg_4f31afac6d974ddbb0222c74733944cb_thumb.jpg"></td><td><div class="wrapper-content"><a href="https://ifitness.vn/products/gift-binh-lac-tap-gym-applied-nutrition-400ml" target="_blank" style="color:#595b5c;"><p style="margin-bottom:0px;">Tặng <span style="color:#f00;font-weight: bold;">1</span><span style="color:#595b5c;">GIFT Bình lắc tập Gym Applied Nutrition 400ml</span>. Khi mua <span style="color:#f00;font-weight: bold;">1</span><span style="color:#595b5c;">Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg</span></p></a></div></td></tr></tbody></table></div></div>

                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 group-pd">
                    <div class="product-vendor hidden-xs hidden-sm applied-nutrition" itemprop="brand" itemscope="" itemtype="http://schema.org/Brand">
                        <b>
                            <span class="chinhhang">Cam kết 100<i class="fa fa-percent" aria-hidden="true"></i> chính hãng</span><a href="/collections/applied-nutrition">
                                <span style="background: #383838; color: #fff;font-size: 14px;margin-bottom: 3px;padding: 4px 10px;" itemprop="name">Applied Nutrition</span>
                            </a>
                        </b>
                    </div>
                    <div class="product-title hidden-xs hidden-sm"><h1 itemprop="name">Sữa Tăng Cơ Giảm Mỡ Applied Nutrition ISO-XP 2kg</h1></div>
                    <div class="pt20 share-p20 col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                        <div class="detail-social hidden-xs hidden-sm">
                            <div class="zalo-follow-only-button" data-oaid="2145022059151314954" style="overflow: hidden; display: inline-block;height:20px;"><iframe frameborder="0" allowfullscreen="" scrolling="no" width="102px" height="35px" src="https://sp.zalo.me/plugins/follow_only?oaid=2145022059151314954&amp;style=blue&amp;customize=false&amp;callback=null&amp;domain=https%3A%2F%2Fifitness.vn%2Fproducts%2Fsua-tang-co-giam-mo-applied-nutrition-iso-xp-2kg&amp;id=152f5333-6f72-4bd9-96bd-a563d5d3f459"></iframe></div>
                            <div class="zalo-share-button" data-href="https://ifitness.vn" data-oaid="2145022059151314954" data-layout="1" data-color="blue" data-customize="false" style="overflow: hidden; display: inline-block; width: 70px; height: 20px;"><iframe frameborder="0" allowfullscreen="" scrolling="no" width="70px" height="20px" src="https://sp.zalo.me/plugins/share?dev=null&amp;color=blue&amp;oaid=2145022059151314954&amp;href=https%3A%2F%2Fifitness.vn&amp;layout=1&amp;customize=false&amp;callback=null&amp;id=98da3926-e33f-42bd-b886-93ed47cc9c3d&amp;domain=ifitness.vn&amp;android=false&amp;ios=false"></iframe></div>
                            <div class="fb-like" data-href="https://ifitness.vn/products/sua-tang-co-giam-mo-applied-nutrition-iso-xp-2kg" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                            <div class="fb-share-button" data-href="https://ifitness.vn/products/sua-tang-co-giam-mo-applied-nutrition-iso-xp-2kg" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fifitness.vn%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
                        </div>
                    </div>

                    <div class="product-sku hidden-xs hidden-sm"><span>Mã sản phẩm: </span><span> SMAPP0714</span></div><div class="product-type hidden-xs hidden-sm"><b>Loại : <a title="Show type" href="/collections/types?q=bot">Bột</a></b></div>

                    <div class="goods-subtitle" itemprop="description">

                        <ul><li><strong>Applied Nutrition Iso-XP</strong> cung cấp hàm lượng 100% Whey Isolate cao cấp, ít tạp chất</li><li>Cung cấp 22.5g đến 23,4g Protein (Tùy mùi sẽ có hàm lượng cao/thấp hơn)</li><li>Không đậu nành, lactose, gluten</li><li>Chứa 4.5g Glutamine giúp phục hồi cơ cực tốt</li><li>5g BCAA trong mỗi lần dùng giúp phục hồi tối ưu</li><li>Chất lượng bò nuôi cỏ 100%, đạt chuẩn châu Âu</li><li>Chứa 80 muỗng - 1 muỗng ~ 25g</li><li>Nên dùng từ 1-3 lần/ngày. Lần dùng 1 muỗng</li></ul><p>
                        </p>
                    </div><div class="product-price-p20 clearfix" itemprop="price" itemscope="" itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="VND">

                        <div class="product-price col-lg-12 col-md-12 col-sm-12 col-xs-12" id="price-preview"><span class="hidden" itemprop="price">160000000</span><span>@(String.Format("{0:#,##0.##}", ViewBag.product.Price))₫</span><del>1,710,000₫</del></div><div class="pt-sale col-lg-12 col-md-12 col-sm-12 col-xs-12">Tiết kiệm : <span id="price-tk">110,000₫ (-6%)</span> so với giá thị trường</div>

                    </div>


               

                    <form  method="post" class="variants clearfix">
                        <div class="select clearfix">
                            <div class="selector-wrapper"><label>Mùi</label><span class="select-swap"><select class="single-option-selector select-swap" data-option="option1" id="product-select-option-0"><option value="Dâu">Dâu</option><option value="Xoài Chanh Dây">Xoài Chanh Dây</option><option value="Cafe Latte">Cafe Latte</option><option value="Vani">Vani</option><option value="Socola">Socola</option></select></span></div><select id="product-select" name="id" style="display:none">
                                <option value="1062148570" data-status="true">Dâu</option>
                              
                            </select>
                        </div>

                        <div class="select-swatch">
                            <div id="variant-swatch-0" class="swatch  clearfix " data-option="option1" data-option-index="0">
                                <div class="header">
                                    Chọn mùi bạn yêu thích
                                </div>

                                <div class="select-swap">







                                    <div data-value="Dâu" class="n-sd swatch-element  dau dau ">
                                        <input class="variant-0" id="swatch-0-dau" type="radio" name="option1" value="Dâu" data-vhandle="dau" checked="">

                                        <label class="dau" for="swatch-0-dau" data-variant="dau">





                                            <img class="image-icon" src="//theme.hstatic.net/1000185761/1000461179/14/color_1.png?v=1828">

                                            <span>Dâu</span>
                                            <img class="crossed-out" src="//theme.hstatic.net/1000185761/1000461179/14/soldout.png?v=1828" style="">
                                            <img class="img-check" src="//theme.hstatic.net/1000185761/1000461179/14/select-pro.png?v=1828" style="">
                                        </label>

                                    </div>


                                    <div data-value="Xoài Chanh Dây" class="n-sd swatch-element  xoai-chanh-day xoai-chanh-day ">
                                        <input class="variant-0" id="swatch-0-xoai-chanh-day" type="radio" name="option1" value="Xoài Chanh Dây" data-vhandle="xoai-chanh-day">

                                        <label class="xoai-chanh-day" for="swatch-0-xoai-chanh-day" data-variant="xoai-chanh-day">

                                            <span>Xoài Chanh Dây</span>
                                            <img class="crossed-out" src="//theme.hstatic.net/1000185761/1000461179/14/soldout.png?v=1828" style="">
                                            <img class="img-check" src="//theme.hstatic.net/1000185761/1000461179/14/select-pro.png?v=1828" style="">
                                        </label>

                                    </div>



                                </div>
                            </div>
                        </div>
                        <div class="product_button ">
                            <div class="clearfix">
                                <div class="ttkm col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                    <div class="thongtinkhuyenmai">
                                        <h2>KHUYẾN MÃI ĐẶC BIỆT</h2>
                                        <div class="content rte rte-summary">
                                            <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a> -->
                                            💖  <a style="color:#ff0000" href="https://ifitness.vn/blogs/tin-tuc/uu-dai-bung-chay-thang-7-nang-cao-suc-khoe-vung-vang-vuot-qua-dai-di?utm_source=iFitness&amp;utm_medium=Link&amp;utm_campaign=Product-Arlert&amp;utm_content=UuDaiThang">ƯU ĐÃI HOT THÁNG 07</a><br>
                                            📌 <a style="color:#ff0000" href="https://ifitness.vn/pages/chinh-sach-tra-gop?utm_source=iFitness&amp;utm_medium=Link&amp;utm_campaign=Product-Arlert&amp;utm_content=TraGop"> Thanh toán trả góp lãi suất 0% </a><br>
                                            🎉 <a style="color:#ff0000" href="https://ifitness.vn/collections/combo?utm_source=iFitness&amp;utm_medium=Link&amp;utm_campaign=Product-Arlert&amp;utm_content=UuDaiMuaCombo">Ưu đãi mua combo - Mang đến hiệu quả sử dụng cao hơn 50%</a><br>
                                            <em style="font-size:12px;">*** Các chương trình khuyến mãi không áp dụng cùng nhau.</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-8 nopadding hidden-xs hidden-sm">
                                    <div class="quantity qty-custom clearfix ">
                                        <label class="left">Số lượng: </label>
                                        <div class="quantity-box">
                                            <select id="Quantity" name="quantity" class="quantity-selector">

                                                <option value="1">1</option>

                                                <option value="2">2</option>

                                                <option value="3">3</option>

                                                <option value="4">4</option>

                                                <option value="5">5</option>

                                                <option value="6">6</option>

                                                <option value="7">7</option>

                                                <option value="8">8</option>

                                                <option value="9">9</option>

                                                <option value="10">10</option>

                                                <option value="11">11</option>

                                                <option value="12">12</option>

                                                <option value="13">13</option>

                                                <option value="14">14</option>

                                                <option value="15">15</option>

                                                <option value="16">16</option>

                                                <option value="17">17</option>

                                                <option value="18">18</option>

                                                <option value="19">19</option>

                                                <option value="20">20</option>

                                                <option value="21">21</option>

                                                <option value="22">22</option>

                                                <option value="23">23</option>

                                                <option value="24">24</option>

                                                <option value="25">25</option>

                                                <option value="26">26</option>

                                                <option value="27">27</option>

                                                <option value="28">28</option>

                                                <option value="29">29</option>

                                                <option value="30">30</option>

                                                <option value="31">31</option>

                                                <option value="32">32</option>

                                                <option value="33">33</option>

                                                <option value="34">34</option>

                                                <option value="35">35</option>

                                                <option value="36">36</option>

                                                <option value="37">37</option>

                                                <option value="38">38</option>

                                                <option value="39">39</option>

                                                <option value="40">40</option>

                                                <option value="41">41</option>

                                                <option value="42">42</option>

                                                <option value="43">43</option>

                                                <option value="44">44</option>

                                                <option value="45">45</option>

                                                <option value="46">46</option>

                                                <option value="47">47</option>

                                                <option value="48">48</option>

                                                <option value="49">49</option>

                                                <option value="50">50</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="check_ch">
                                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 nopadding">
                                        <a asp-controller="cart" asp-action="buy" asp-route-id="@ViewBag.product.Id" type="button" class="btn-detail btn-color-add btn-min-width btn-mgt" >MUA HÀNG<span>Giao hàng COD toàn quốc</span></a>
                                    </div>
                               
                                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 nopadding">
                                        <a href="javascript:void(0);" class="call_request"><i class="fa fa-phone"></i> GỌI LẠI CHO TÔI</a>
                                    </div>
                                </div>
                                <div class="check_hh" style="display: none;">
                                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 nopadding">
                                        <div class="btn-cart-products">
                                            <button id="contact_buy" type="button" class="btn-detail btn-color-buy btn-min-width btn-mgt">
                                                Liên hệ khi có hàng
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 group-pd hidden-xs hidden-sm">
                    <div id="recommend_sidebar" class="hidden-sm hidden-xs">
                        <div class="title-recommend-sidebar"><h3>Có thể bạn cũng quan tâm</h3></div>
                        <div class="product-list ">
                            <div class="content-product-list-sidebar">










                                <div class="seller-item item">
                                    <div class="sellers-img">
                                        <a href="/products/sua-uong-tang-suc-ben-applied-nutrition-bcaa-amino-hydrate-450g" title="" class="products-block-image content_img clearfix">
                                            <img class="replace-2x img-responsive" src="//product.hstatic.net/1000185761/product/bcaa-450g-_icy-blue-raz__7fbf65e9ffac4f79b15dfb123884e7be_small.jpg" alt="BCAA Amino Hydrate 450g ice blue raps">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h5 class="bs-title">
                                            <a href="/products/sua-uong-tang-suc-ben-applied-nutrition-bcaa-amino-hydrate-450g" title="Sữa Uống Tăng Sức Bền Applied Nutrition - BCAA Amino Hydrate 450g">
                                                Sữa Uống Tăng Sức Bền Applied Nutrition - BCAA Amino Hydrate 450g
                                            </a>
                                        </h5>
                                        <div class="price-box-side">
                                            <p class="price">610,000₫</p>



                                        </div>
                                    </div>
                                </div>









                                <div class="seller-item item">
                                    <div class="sellers-img">
                                        <a href="/products/vien-uong-giam-mo-cat-net-ultra-ripped-capsules-ephedra-free-90-vien" title="" class="products-block-image content_img clearfix">
                                            <img class="replace-2x img-responsive" src="//product.hstatic.net/1000185761/product/ultimate-nutrition-ultra-ripped-capsules-ehpedra-free-90cap_small.jpg" alt="Ultra Ripped - 90 Caps">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h5 class="bs-title">
                                            <a href="/products/vien-uong-giam-mo-cat-net-ultra-ripped-capsules-ephedra-free-90-vien" title="Viên Uống Giảm Mỡ Cắt Nét Ultra Ripped - 90 viên">
                                                Viên Uống Giảm Mỡ Cắt Nét Ultra Ripped - 90 viên
                                            </a>
                                        </h5>
                                        <div class="price-box-side">
                                            <p class="price">690,000₫</p>



                                        </div>
                                    </div>
                                </div>







                                <div class="seller-item item">
                                    <div class="sellers-img">
                                        <a href="/products/vien-uong-dot-mo-giam-can-hydroxycut-hardcore-elite-180-vien" title="" class="products-block-image content_img clearfix">
                                            <img class="replace-2x img-responsive" src="//product.hstatic.net/1000185761/product/hydroxycut-elite-180caps_cbef1b18c15d40238c3408fc014fa55a_small.jpg" alt="Hydroxycut Hardcore Elite 180 caps">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h5 class="bs-title">
                                            <a href="/products/vien-uong-dot-mo-giam-can-hydroxycut-hardcore-elite-180-vien" title="Viên uống đốt mỡ giảm cân Hydroxycut Hardcore Elite 180 Viên">
                                                Viên uống đốt mỡ giảm cân Hydroxycut Hardcore Elite 180 Viên
                                            </a>
                                        </h5>
                                        <div class="price-box-side">
                                            <p class="price">900,000₫</p>



                                        </div>
                                    </div>
                                </div>









                                <div class="seller-item item">
                                    <div class="sellers-img">
                                        <a href="/products/vien-uong-tang-suc-ben-hammer-nutrition-endurance-bcaa" title="" class="products-block-image content_img clearfix">
                                            <img class="replace-2x img-responsive" src="//product.hstatic.net/1000185761/product/endurance-bcaa-120cap_small.jpg" alt="Hammer Nutrition Endurance BCAA+ 120 vien">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h5 class="bs-title">
                                            <a href="/products/vien-uong-tang-suc-ben-hammer-nutrition-endurance-bcaa" title="Viên Uống Tăng Sức Mạnh và Sức Bền Hammer Nutrition Endurance BCAA+">
                                                Viên Uống Tăng Sức Mạnh và Sức Bền Hammer Nutrition Endurance BCAA+
                                            </a>
                                        </h5>
                                        <div class="price-box-side">
                                            <p class="price">850,000₫</p>



                                        </div>
                                    </div>
                                </div>











                                <div class="seller-item item">
                                    <div class="sellers-img">
                                        <a href="/products/vien-sui-bo-sung-swiss-energy-multi-vitamins-biotin" title="" class="products-block-image content_img clearfix">
                                            <img class="replace-2x img-responsive" src="//product.hstatic.net/1000185761/product/swiss-energy-mulvitamin_3bb8248b846b4967abb4579819f2e4f1_small.jpg" alt="Swiss Energy Multi Vitamins + Biotin">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h5 class="bs-title">
                                            <a href="/products/vien-sui-bo-sung-swiss-energy-multi-vitamins-biotin" title="Viên Sủi Bổ Sung Đa Vitamin Hỗ Trợ Da Và Tóc Swiss Energy Multi Vitamins + Biotin">
                                                Viên Sủi Bổ Sung Đa Vitamin Hỗ Trợ Da Và Tóc Swiss Energy Multi Vitamins + Biotin
                                            </a>
                                        </h5>
                                        <div class="price-box-side">
                                            <p class="price">123,500₫</p>
                                            <p class="old-price">130,000₫</p>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  