
@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index1</h1>
<button id="btnsubmit">submit </button>

@section scripts{
    <script>




        $(document).ready(function () {

            LoadListProduct();


        });

        $('#btnsubmit').click(function () {

            $.ajax({
                url: '/Home/details',
                type: 'post',
                data: { id: 11 },
                success: function (data) {
                    console.log(data);
                }


            })


        });



        function LoadListProduct() {
            $.ajax({
                url: '/Home/Detail',
                type: 'get',
                success: function (data) {
                    //alert('1');
                     console.log(data);
                }

            });
        }
    </script>
}
